@model CSPharmaDAL.Modelo.TdcCatEstadosEnvioPedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TdcCatEstadosEnvioPedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MdUuid" class="control-label"></label>
                <input asp-for="MdUuid" class="form-control" />
                <span asp-validation-for="MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MdDate" class="control-label"></label>
                <input asp-for="MdDate" class="form-control" />
                <span asp-validation-for="MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEstadoEnvio" class="control-label"></label>
                <input asp-for="CodEstadoEnvio" class="form-control" />
                <span asp-validation-for="CodEstadoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesEstadoEnvio" class="control-label"></label>
                <input asp-for="DesEstadoEnvio" class="form-control" />
                <span asp-validation-for="DesEstadoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
